@import url('https://fonts.googleapis.com/css?family=Roboto+Mono'); /*   font-family: 'Roboto Mono', monospace;   */

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: #2b2b2b; */
  background: linear-gradient(70deg, rgba(10,210,238,1) 0%, rgba(2,97,179,1) 100%);
}

h1 {
  font-size: 50px;
}

p {
  text-align: center;
  color: #f4f4f4;
  margin: 5px;
}

a {
  transition: 0.2s ease-in-out;
  color: blue;
  margin: 5px;
  text-decoration: underline;
}

.disclaimer-text{
  color: red;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}

h1, ul {
  text-align: center;
  color: #f4f4f4;
  text-shadow: 1px 1px 1px #212121;
  font-family: Arial, sans-serif;
  list-style: none;
}

h1 {
  color: #f4f4f4;
}

ul li {
  font-size: 30px;
  padding: 20px;
  list-style: none;
}

span.description {
  font-size: 20px;
}

.toggleExamples {
  vertical-align: middle;
  text-align: center;
  padding: 5px;
  background: linear-gradient(0deg, rgba(0,5,247,1) 0%, rgba(0,108,212,1) 100%);
  color: #F7F7F7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.example-code {
  background-color: #202020;
  font-size: 17.5px;
  font-family: Calibri, sans-serif;
  color: #F7F7F7;
  display: none;
  padding: 5px;
  line-height: 25px;
  border: 1px lightGrey solid;
}

.example-code p.answer {
  font-family: Consolas, sans-serif;
  color: #FFF;
  font-size: 1.4em;
  display: none;
  margin-top: -5px;
  line-height: 1em;
}

input.input {
  background-color: #202020;
  color: #F7F7F7;
  font-family: Calibri, sans-serif;
  font-size: 1.5em;
  padding: 5px;
  margin: 5px;
  border: 2px #FFF solid;
}

div.submit {
  cursor: pointer;
  /* border: 1px white solid; */
  border-radius: 5px;
  text-align: center;
  color: #FFF;
  background: linear-gradient(0deg, rgba(0,5,247,1) 0%, rgba(0,108,212,1) 100%);
  font-family: Calibri, sans-serif;
  font-size: 1.5em;
  padding: 5px;
  margin-top: 5px;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 0;
  transition: 0.3s ease-in;
  width: 60%;
}

.break {
  font-size: 35px;
}

.exampleTriangle {
  width: 200px;
  height: 62px;
}

.active {
  background: radial-gradient(circle, rgba(0,159,255,1) 0%, rgba(0,98,157,1) 100%);
}

span.name {
  text-decoration: underline;
}

@media only screen and (max-width: 664px) {
  p.red-text {
    display: none;
  }

  ul li {
    font-size: 2.4em;
  }

  .break {
    font-size: 2.2em;
  }

  span.description {
    font-size: 0.75em;
  }

  button.toggleExamples {
    font-size: 0.75em;
  }

  div.example-code {
    font-size: 0.75em;
  }

  div.submit, input.input, p.answer {
    font-size: 1em;
  }

  p.answer{
    padding: 10px;
  }
}



/* start of responsive design for use on mobile devices (mainly phones) */
@media only screen and (max-width: 575px) {

  h1 {
    font-size: 1.25em;
    border-bottom: 1px #FFF solid;
    background-color: #212121;
    padding: 0.7em;
  }

  ul li {
    font-size: 2.2em;
  }

  .break {
    font-size: 2em;
  }

  .example-code p.answer {
    font-size: 1em;
  }

}

@media only screen and (max-width: 320px) {
  input.input {
    font-size: 1em;
    width: 85%;
  }

  ul li {
    font-size: 2em;
  }

  .break {
    font-size: 1.8em;
  }

  button.toggleExamples {
    font-size: 0.7em;
  }

  .example-code p.answer {
    font-size: 0.8em;
    margin: 0;
  }
}
