* {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2b2b2b;
}

h1 {
  font-size: 50px;
}

p {
  text-align: center;
  color: red;
  margin: 5px;
}

a {
  transition: 0.2s ease-in-out;
  color: red;
  border: 1px red solid;
  margin: 5px;
}

a:hover {
  border-color: DarkRed;
  color: DarkRed;
}

h1, ul {
  text-align: center;
  color: #FFF;
  font-family: Arial, sans-serif;
  list-style: none;
}

ul li {
  font-size: 30px;
  padding: 20px;
  list-style: none;
}

span.description {
  font-size: 20px;
}

.toggleExamples {
  vertical-align: middle;
  text-align: center;
  padding: 5px;
  background-color: #7A7A7A;
  color: #F7F7F7;
  border: 1px lightGrey solid;
  border-radius: 5px;
  cursor: pointer;
}

.example-code {
  background-color: #1A1A1A;
  font-size: 17.5px;
  font-family: Calibri, sans-serif;
  color: #F7F7F7;
  display: none;
  padding: 5px;
  line-height: 25px;
  border: 1px lightGrey solid;
}

.example-code p.answer {
  font-family: Calibri;
  color: #FFF;
  font-size: 1.4em;
  display: none;
  margin-top: -5px;
}

input.input {
  background-color: #1A1A1A;
  color: #F7F7F7;
  font-family: Calibri, sans-serif;
  font-size: 1.5em;
  padding: 5px;
  margin: 5px;
  border: 2px #FFF solid;
}

div.submit {
  cursor: pointer;
  border: 1px white solid;
  border-radius: 5px;
  text-align: center;
  color: #FFF;
  background-color: #1A1A1A;
  font-family: Calibri, sans-serif;
  font-size: 1.5em;
  padding: 5px;
  margin-top: 5px;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 0;
  transition: 0.3s ease;
  width: 60%;
}

div.submit:hover {
  background-color: darkGrey;
}

.break {
  font-size: 35px;
}

.exampleTriangle {
  width: 200px;
  height: 62px;
}

.active {
  background-color: #1A1A1A;
}

span.name {
  text-decoration: underline;
}

@media only screen and (max-width: 664px) {
  p.red-text {
    display: none;
  }

  ul li {
    font-size: 2.4em;
  }

  .break {
    font-size: 2.2em;
  }

  span.description {
    font-size: 0.75em;
  }

  button.toggleExamples {
    font-size: 0.75em;
  }

  div.example-code {
    font-size: 0.75em;
  }

  div.submit, input.input, p.answer {
    font-size: 1em;
  }

  p.answer{
    padding: 10px;
  }
}



/* start of responsive design for use on mobile devices (mainly phones) */
@media only screen and (max-width: 575px) {

  h1 {
    font-size: 2.5em;
    border-bottom: 1px #FFF solid;
    background-color: #212121;
    padding: 0.7em;
  }

}
